@import "mixins";
@import "defaults";

// Div for entire timeline, setting the size
.timeline{
  position: relative;
  width: 100%;
  height: 3500px;
  background-color: #FFF;
}

// Wrapper for the lines and events
.timelineBackground {
  position: absolute;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.timelineTitle {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 150px;
  height: 150px;
  line-height: 150px;
  color: #FFF;
  font-weight: 800;
  font-size: 1.5em;
  text-align: center;
  vertical-align: center;
  background-color: #343a40;
  border-radius: 50%;
}

.timelineLine {
  background: #343a40;
  width: 10px;
  height: 400px;
  float: center;
  margin-left: auto;
  margin-right: auto;
}

.timelineEndLine {
  background: #343a40;
  width: 10px;
  height: 880px;
  float: center;
  margin-left: auto;
  margin-right: auto;
}

.timelineEvent {
  position: relative;
  background: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 5px solid #343a40;
  width: 20px;
  height: 20px;
  float: center;
  margin-left: auto;
  margin-right: auto;
}
.timelineMask {
  position: absolute;
  background: #FFF;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Wrapper for the dates and labels
.timelineLabel {
  position: absolute;
  width: 20%;
  color: #343a40;
  font-weight: 800;
  font-size: 1em;
  right: 0px;
  text-align: right;
}

.timelineDate {
  position: absolute;
  color: #343a40;
  width: 20%;
  font-weight: 800;
  font-size: 1em;
  left: 0px;
  text-align: left;
}

@include media-query($on-palm) {
  .timelineLabel {
    position: absolute;
    top: 100px
  }
  .timelineDate {
    position: absolute;
    top: 100px
  }
}