@import "mixins";
@import "defaults";

// Div for entire timeline, setting the size
.timeline{
  position: relative;
  width: 100%;
  height: 3500px;
  background-color: $background-color;
}

// Wrapper for the lines and events
.timelineBackground {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.timelineTitle {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 150px;
  height: 150px;
  line-height: 150px;
  color: #FFF;
  font-weight: 800;
  font-size: 1.5em;
  text-align: center;
  vertical-align: center;
  background-color: $brand-color;
  border-radius: 50%;
}

.timelineEventWrapper {
  position: relative;
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: center;
}

.timelineLine {
  position: absolute;
  background: $brand-color;
  width: 10px;
  height: 400px;
}

.timelineEvent {
  position: absolute;
  background: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 5px solid $brand-color;
  width: 20px;
  height: 20px;
  top: 400px;
  z-index: 99;
}
.timelineMask {
  position: relative;
  background: #FFF;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

// Wrapper for the dates and labels
.timelineLabel {
  position: absolute;
  width: 15%;
  margin-left: auto;
  color: $text-color;
  font-weight: 800;
  font-size: 1em;
  right: 0px;
  top: 395px;
  text-align: right;
}

.timelineDate {
  position: absolute;
  color: $text-color;
  width: 15%;
  margin-right: auto;
  font-weight: 800;
  font-size: 1em;
  left: 0px;
  top: 395px;
  text-align: left;
}

@include media-query($on-palm) {
  .timelineLabel {
    top: 590px;
    width: 45%;
  }
  .timelineDate {
    top: 590px;
    width: 45%;
  }
}

.timelineEndLine {
  background: $brand-color;
  width: 10px;
  height: 800px;
  float: center;
  margin-left: auto;
  margin-right: auto;
}